.wrap-block-BreadCrumb
    //outline: 1px solid red
    height: 100%
    overflow: hidden
    .list-bread-crumb
        //width: 200% //что бы текст обрезался overflow: hidden а не перскакивал в низ - так в случае неадекватно длинных фраз будет наилучший обзор
        height: 100%
        //overflow-x: hidden
        list-style: none
        padding-left: 15px
        margin: 0
        &__item
            display: inline-block
            margin-right: 5px
            font-size: 20px
            //font-family: 'Roboto', sans-serif
            color: #fff
            padding-top: 15px
            line-height: 17px
        &__link
            color: #fff
            text-decoration: none
            &:hover
                text-decoration: underline



