.wrap-top-bar
    width: 100%
    height: 50px

.top-bar
    width: 100%
    position: fixed
    left: 0
    top: 0
    margin: 0
    height: 46px
    z-index: 100
    &__bread-crumbs
        width: calc(100% - 100px)
        display: inline-block
        //outline: 1px solid red
        float: left
    &__menu
        float: right
        //outline: 1px solid red
        width: 50px
    &__back
        float: left
        width: 30px
        height: 100%
        color: #fff
        line-height: 47px!important
        text-indent: 5px
        cursor: pointer


