@import "../../../style/_variables"
.accounts
    &__name
        margin: 5px 0
        height: 25px
        padding: 0 5px
    &__item
        background-color: $grey-bg
        &:nth-child(even)
            background-color: $blue-btn

