
body
    //font-family: 'Roboto', sans-serif
    margin: 0



.clearfix:after
    content: ' '
    display: table
    clear: both

.content
    min-height: calc(100vh - 70px)
    //outline: 1px solid red
.form-center
    width: 270px
    margin: auto
    
.link-wrap
    text-decoration: none!important

//для общей с элементами material Card стилизации
.card-element
    padding: 16px
.card-element-sides
    padding-left: 16px
    padding-right: 16px
.card-element-bottom
    padding-bottom: 16px

.card-title-wrap
    float: left
    width: calc(100% - 150px)
.card-manager-wrap
    float: left
    width: 150px

*
    -moz-user-select: none
    -khtml-user-select: none
    -webkit-user-select: none
    user-select: none
    -webkit-overflow-scrolling: touch

img
    max-width: 100%
    max-height: 100%