@import "../../../../../style/variables"

.autosampler-view
    border: 1px solid $blue-border
    border-radius: 50%
    background-color: #00BCD4
    margin: auto
    &__circle
        margin: -4px 0 0 13px
        position: relative
        border-radius: 50%
    &__item
        position: absolute
        border: 2px solid $blue-border
        border-radius: 50%
        text-indent: 6px
        background-color: #fff
        color: #000
        z-index: 10
        &:hover
            cursor: pointer
        &_active
            background-color: #FF4081
    &__circle-inner
        position: relative
        //border: 1px solid $blue-border
        border-radius: 50%
        width: calc(100% - 30px)
        height: calc(100% - 30px)
        margin: 16px 0 0 19px
    &__number
        position: absolute

