.new-account
    &__row
        height: calc(100vh - 70px)

        //outline: 1px solid red
    &__content
        //outline: 1px solid red
        display: block
        width: 290px
        margin: auto
